#folders
.idea/
__pychache__/

# files
credits.txt
startardupilot.sh
startgazeboarducopter.sh
map.html
quickstart.py
connection.py
/deneme.py
/DisplayInfo.py
/uifolder/BaseGUI (copy).ui
/uifolder/displayinfo.ui
yapılacaklar.txt
/main.py
/__pycache__
*.pyc
__pycache__/HomePage.cpython-37.pyc
__pycache__/IndicatorsPage.cpython-37.pyc
__pycache__/MapWidget.cpython-37.pyc
__pycache__/ThreadingPart.cpython-37.pyc
/untitled
/__pycache__
